.main {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-grey-4);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.leftCol {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 347px;
}

.leftCol img {
  width: 122px;
}

.leftCol h1 {
  font-size: var(--title-1);
  font-weight: var(--weigth-0);
  line-height: 126%;
  color: #ffffff;
}

.spanLP {
  font-size: var(--title-3);
  font-weight: var(--weigth-4);
  color: #ffffff;
}

.btnLP {
  padding: 13px 20px;
  height: 48px;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: var(--radius-2);
  font-size: var(--title-3);
  font-weight: var(--weigth-3);
  color: #ffffff;
}
